* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    z-index: -1;
  }
  .video-background video {
    width: 100%;
    height: 100%;
  }
  
  header {
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
  }
  header img{
    height: 75px;
    display: block;
}
nav{ 
    text-decoration: none;
    width: 80%;
    margin: 1em 0;
    background: rgba(0, 0, 0, 0);
    /* text-align: right; */
    color: white;
    display: flex;
    justify-content: space-evenly;
}
main h3{
    text-align: center;


}
nav a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    text-decoration: none;
    margin: 1em 0;
    background: rgba(190, 42, 42, 0);
    color: white;
  }
  aside img {
    height: 10px;
    width: 60%;
    display: block;
    margin: 2em auto;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
  } 
  .video-banner {
    position: relative;
    width: 100%;
    height: 100vh;             
    overflow: hidden;         
    background-color: rgba(0, 0, 0, 0); 
  }
  
  .video-banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;         
    z-index: -1;             
  }
  

  .video-banner .overlay {
    position: absolute;
    width: 100%;
    color: #fff;               
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0); 
  }
  
  
  .video-banner .overlay.center-overlay {
    top: 0;
    left: 0;
    height: 100%;              
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
  }
  
  .video-banner .overlay.bottom-overlay {
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
    margin-bottom: 250px;
  }
  
  .video-banner .overlay h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0); 
  }

  .car-gallery {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    padding-top: 4em; 
    text-align: center;
    margin-bottom: 35px;
}

.img-row {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.img-row img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

p .description h3{
    width: 15%;
    font-size: 1.2rem;
    max-width: 800px;
    line-height: 1.6;
    color: white;
}
section div:not(.img-row){
    width:40%;
}
section div ul{
    font-size: 1.4em
}
  
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0,0,0,0.8);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 999;
   cursor: pointer;
   }
 
#lightbox.hidden {
   display: none;
 }
 
#lightbox img {
  max-width: 90%;
   max-height: 90%;
   box-shadow: 0 0 20px rgba(0,0,0,0.5);
   border-radius: 4px;
 }
 



  
  










  